.loader {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.loader-content {
	width: 200px;
}

.loader-spinner {
	margin-bottom: 20px;
}